<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dataset </title>
</head>
<body>
    <a href = "/main.html">Back to Login</a>
    <div>        
    <h1><b>Dataset Information</b></h1>
    

    <img src="static/dataset_info/Screenshot 2024-04-26 143814.png" alt="Dataset Information">
    </div>

    <div>
        <h1><b>Dataset Display</b></h1>
        <img src="static/dataset_info/Screenshot 2024-04-26 143738.png" alt="Dataset Display">
    </div>

    <div>
        <h1><b>Distribution of questions length</b></h1>
        <img src="static/dataset_info/download.png" alt="Dataset visulatization">
    </div>
    <div>
        <h1><b>Pairwise relation between features</b></h1>
        <img src="static/dataset_info/download (4).png" alt="Dataset visulatization">
    </div>
    <div>
        <h1><b>Correlation Matrix</b></h1>
        <img src="static/dataset_info/download (3).png" alt="Dataset visulatization">
    </div>

    <div>
        <h1><b>Top questions types</b></h1>
        <img src="static/dataset_info/download (2).png" alt="Dataset visulatization">
    </div>
    <div>
        <h1><b>Word cloud of questions</b></h1>
        <img src="static/dataset_info/download (1).png" alt="Dataset visulatization">
    </div>

    <a href = "/main.html" style = "color: white">Back to Login</a>
</body>
</html>