<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Main page</title>
<link rel="stylesheet" href="/static/mainstyle.css">
</head>
<body>
<nav class="navbar">
  <a href="/aboutus.html">About Us</a>

  <a href="/index.html">About Dataset</a>

</nav>
<div class="card-container">
  <div class="card"><center><h2>Model 1 : transformer</h2></center>
    <div class="card-front" style="background-image: url('/static/transformer.jpeg');">
        
    </div>
    <div class="card-back">
      <button><a href="/model.html">Select Model</a></button>
    </div>
  </div>
  <div class="card"><center><h2>Model 2: LSTM</h2></center>
    <div class="card-front" style="background-image: url('/static/lstm.jpeg');">
    
    </div>
    <div class="card-back">
      <button><a href="/model2.html">Select Model</a></button>
    </div>
  </div>
  <div class="card"><center><h2>Model 3: GRU</h2></center>
    <div class="card-front" style="background-image: url('/static/gru.jpeg');">
      
    </div>
    <div class="card-back">
      <button><a href="/model3.html">Select Model</a></button>
    </div>
  </div>
</div>
<script src="script.js"></script>
</body>
</html>
